:root {
    --font: "Poppins", sans-serif;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}
 
button {
    outline: transparent;
    border: transparent;
    cursor: pointer;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-family: var(--font);
    line-height: 1.5;
    letter-spacing: -0.01em;
}

@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }
}

.sidebar-container {
    display: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-logo{
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.01em;
}

.header-button-open{
    background-color: transparent;
}

.mobile-menu {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func),
        visibility var(--transition-dur-and-func);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1px solid #e7e9fc;
    transition: background-color var(--transition-dur-and-func);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    line-height: 0;
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
    background-color: #404bbf;
}

.mobile-menu-close-icon {
    transition: fill var(--transition-dur-and-func);
}

.mobile-menu-close-btn:hover .mobile-menu-close-icon,
.mobile-menu-close-btn:hover .mobile-menu-close-icon {
    fill: #ffffff;
}

.mobile-menu-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #9197B3;
    font-size: 24px;
    font-weight: 500;
    padding: 24px 16px;
}

.mobile-menu-item-link {
    display: flex;
    column-gap: 14px;
    align-items: center;
}

.mobile-menu-link-current{
    background-color: #5932EA;
    padding-left: 16px;
    padding-top: 6px;
    padding-right: 3px;
    padding-bottom: 16px;
    border-radius: 8px;
    color: #ffffff;
}

.icon-chevron {
    margin-left: auto;
}

.main-container {
    background-color: #F9FBFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.welcome-title {
    font-size: 20px;
    color: #000000;
    letter-spacing: 0em;
}

.section-products{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px 28px;
}
 
.products-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-title-thumb {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.products-title {
    font-size: 14px;
    color: #000000;
}

.products-subtitle {
    font-size: 10px;
    font-weight: 500;
    color: #16C098;
}

.search-field {
    background-color: #F9FBFF;
    border-radius: 10px;
    display: flex;
    padding-left: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    height: 38px;
    align-items: center;
    max-width: 216px;
}

.search-input{
    background-color: #F9FBFF;
    border-color: transparent;
    outline: none;
    color: 292D32;
    font-size: 14px;
}

.search-input::placeholder{
    color:#B5B7C0;
    font-size: 12px;
}

table {
    display: none;
}

.table-mobile-container{
    margin-top: 16px;
}

.table-mobile-data{
    transition: 600ms ease;
    transition-property: margin;
    display: flex;
    align-items: center;
    gap: 12px;
}

.table-mobile-info{
    margin-right: auto;
}

.table-mobile-icon{
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    cursor: pointer;
    fill: #50556d;
}

.table-mobile:not([open]) .table-mobile-icon .plus {
    opacity: 1;
}

.table-mobile-icon .plus {
    opacity: 0;
}

.table-mobile-icon .minus {
    transition: 300ms ease;
    transition-property: opacity;
    transition-delay: 150ms;
    opacity: 1;
    fill: #50556d;
}

.table-mobile-caption{
    font-size: 16px;
    font-weight: 500;
    color: #50556d;
}

.table-mobile-text{
    font-size: 12px;
    color: #50556d;
}

.table-mobile-more-info{
    padding-top: 12px;
    padding-left: 32px;
}

.table-mobile-more-info-title{
    font-size: 14px;
    font-weight: 500;
    color: #9197B3;
}

.table-mobile-more-info-text{
    font-size: 12px;
    color: #9197B3;
}
.button {
    border-radius: 4px;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 500;
    min-width: 80px;
}

.button-inactive {
    background-color: #FFC5C5;
    border: 1px solid #DF0404;
    color: #DF0404;
}

.button-active {
    background-color: #00B087;
    border: 1px solid #008767;
    color: #008767;
}

.products-pagination {
    margin-top: 30px;
}

.products-pagination-text{
    font-size: 14px;
    color: #B5B7C0;
}

.pagination-list {
    margin-top: 16px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.pagination-list-item {
    padding: 4px;
    border-radius: 2px;
    border: 1px solid #EEEEEE;
    background-color: #F5F5F5;
    font-size: 10px;
    color: #404B52;
}

.pagination-list-item-current {
    background-color: #5932EA;
    color: #ffffff;
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }

    .header {
        display: none;
    }

    .sidebar-container {
        background-color: #ffffff;
        width: 306px;
        padding: 36px 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sidebar-navigation {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    .sidebar-logo {
        display: flex;
        gap: 8px;
    }

    .sidebar-logo-image {
        width: 37px;
        height: 37px;
    }

    .sidebar-logo-text {
        font-size: 26px;
        font-weight: 600;
        letter-spacing: 0.01em;
    }

    .sidebar-logo-text-span {
        font-size: 10px;
        color: #838383;
    }

    .sidebar-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .sidebar-list-link {
        font-size: 14px;
        color: #9197B3;
        display: flex;
        column-gap: 14px;
        align-items: center;
    }

    .sidebar-list-link-current {
        background-color: #5932EA;
        padding-left: 16px;
        padding-top: 6px;
        padding-right: 3px;
        padding-bottom: 16px;
        border-radius: 8px;
        color: #ffffff;
    }

    .sidebar-user-info {
        display: flex;
        gap: 12px;
        margin-top: auto;
    }

    .sidebar-user-name {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.01em;
        color: #000000;
    }

    .sidebar-user-job {
        font-size: 12px;
        letter-spacing: 0.01em;
        color: #757575;
    }

    .main-container {
        padding: 40px 68px;
        gap: 48px;
    }

   .welcome-title {
        font-size: 24px;
    }

    .section-products {
        background-color: #ffffff;
        border-radius: 30px;
        padding: 30px 38px;
        width: 968px;
    }

    .products-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .products-title-thumb {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    .products-title {
        font-size: 22px;
        font-weight: 600;
        color: #000000;
    }

    .products-subtitle {
        font-size: 14px;
        font-weight: 500;
        color: #16C098;
    }

    .search-field {
        background-color: #F9FBFF;
        border-radius: 10px;
        display: flex;
        padding-left: 8px;
        padding-top: 7px;
        padding-bottom: 7px;
        height: 38px;
        align-items: center;
        max-width: 216px;
    }
    
    .search-input {
        background-color: #F9FBFF;
        border-color: transparent;
        outline: none;
        color: 292D32;
        font-size: 14px;
    }
    
    .search-input::placeholder {
        color: #B5B7C0;
        font-size: 12px;
    }

    .table-mobile-container {
        display: none;
    }

    table {
        display: table;
        border-collapse: collapse;
        width: 100%;
        margin-top: 40px;
    }

    table thead {
        border-bottom: 2px solid #EEEEEE;
    }

    table th {
        color: #B5B7C0;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
    }

    table td {
        border-bottom: 1px solid #EEEEEE;
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 14px;
        font-weight: 500;
        color: #292D32;
    }

    .products-pagination {
            display: flex;
            justify-content: space-between;
    }
    
    .products-pagination-text {
            font-size: 16px;
    }
    
    .pagination-list {
            margin-top: 0px;
            gap: 12px;
    }
    
    .pagination-list-item {
            padding: 6px;
            border-radius: 4px;
            border: 2px solid #EEEEEE;
            background-color: #F5F5F5;
            font-size: 12px;
            color: #404B52;
    }
    
    .pagination-list-item-current {
            background-color: #5932EA;
            color: #ffffff;
    }
}